* { 
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #e1e1e1;
}

.nav {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.left {
    display: flex;
    align-items: center;
    height: 80px;
    gap: 40px;
}

.nav-item {
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 19.5px;
    line-height: 24px;
    color: #667085;
}

.fa-chevron-down {
    font-size: 16px;
}

.nav-ic {
    color: #98A2B3;
    font-size: 30px;
}

.right{
    display: flex;
    gap: 15px;
}

.main {

    display: flex;
    justify-content: center;
    align-items: stretch;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 100px;
    flex-wrap: wrap;
}

.support {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding-inline-start: 30px;
    padding-top: 35px;
}

.first-header {
    color: #14017E;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19.5px;
    line-height: 24px;
}

.second-header {
    color:#101828;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 24px;
}
.main-sub {
    color: #667085;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 24px;
    height: 60px;
    display: flex;
    align-items: center;
}

.email-call {
    display: flex;
    gap: 15px;
}

.email {
    width: 169px;
    height: 65px;
    border: 1px solid #D0D5DD;
    background-color: transparent;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.call {
    width: 169px;
    height: 65px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: #009649;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;;
    padding-top: 15px;
    padding-bottom: 35px
}

.row1 {
    display: flex;
    align-items: end;
    gap: 15px;
}

.row2 {
    display: flex;
    align-items: start;
    gap: 15px;
}

.partners-logos {
   display: flex;
   flex-direction: column;
   justify-content: center;
   row-gap: 55px;
   height: 250px;
}

.row-1 {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.row-2 {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    height: 500px;
    justify-content: center;
    background: #F9FAFB;
}

.partners-header {
    color: #101828;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    height: 60px;
    display: flex;
    align-items: center;
}

.partners-sub {
    color: #667085;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 24px;
    height: 60px;
    display: flex;
    align-items: center;
}

.main-sub {
    width: 800px;
}

.participants {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    height: 1050px;
    justify-content: center;
}

.participants-header {
    color: #101828;
     font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    height: 60px;
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    width: 100%;
    place-items: center;
}

.menu-item {
    color: #667085;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 30px;
}

.menu-header {
    color: #14017E;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 18px;
    line-height: 30px;

}

.menus {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}

.footer-bottom {
    height: 100px;
    align-items: center;
    background: #F9FAFB;
    display: flex;
    justify-content: center;
}

.bottom-container {
    width: 90%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.footer-ic {
    color: #98A2B3;

    font-size: 22px;
}

.rights {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color:#98A2B3
}

.footer-icons {
    display: flex;
    gap: 15px;
}

.footer-menus {
    display: flex;
    gap: 130px;
}

.footer-top {
    display: flex;
    justify-content: center;
    height: 300px;
}

.footer-info{ 
    width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.top-container {
    width: 90%;
    display: flex;
    gap: 150px;
    justify-content: center;
}

.footer-info {
    color: #667085;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

#menu-btn {
    color: #667085;
    font-size: 30px;
    display: flex;
    align-items: center;
    width: 50px;
}

@media all and (max-width: 820px) {
    .nav-item {
        display: none;
    }
    .main-sub {
        width: 650px;
    }
    .main {
        height: 900px;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .partners-logos {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .row-1 {
        display: flex;
        gap: 70px; 
        justify-content: space-evenly;     
    }
    .row-2 {
        gap: 70px;
    }
    .partner {
        display: block;
        margin: 0px;
        padding: 0px;
        width: 130px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 1rem;
    }
    .grid img {
        width: 100px;
    }
    .participants {
        height: 1100px;
    }
    .grid {
        width: 90%;
    }
}

@media all and (min-width: 821px) {
    #menu-btn {
        display: none;
    }
}


@media all and (min-width: 820px) and (max-width: 1600px) {
    .top-container {
        flex-direction: column;
        row-gap: 50px;
        justify-content: center;

    }
    
    .footer-top {
        display: flex;
        align-items: center;
        height: 530px;
    }
}

@media all and (min-width: 765px) and (max-width: 819px) {
    .footer-menus {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .footer-info {
        width: 300px;
    }
    .top-container {
        gap: 80px;
    }
    .footer-top {
        height: 550px;
    }
}

@media all and (min-width: 375px) and (max-width: 764px) {
    .footer-menus {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .footer-info {
        width: 300px;
    }
    .top-container {
        gap: 80px;
        flex-direction: column;
    }
    .footer-top {
        height: 800px;
    }
}

@media all and (min-width: 360px) and (max-width: 1150px) {
    .container {
        flex-direction: column;
    }
    .main {
        height: 900px;
    }
}

@media all and (min-width: 821px) and (max-width: 1350px) {
    .partner {
        width: 120px;
    }
}

@media all and (min-width: 1100px) and (max-width: 1300px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2rem;
    }
    .participants {
        height: 1200px;
    }
}

@media all and (min-width: 820px) and (max-width: 1100px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
    }
    .participants {
        height: 1500px;
    }
}

@media all and (max-width: 375px) {
    .second-header {
        font-size: 25px;
        align-items: start;
    }
    .support {
        row-gap: 10px;
    }
    .main-sub {
        width: 90%;
        font-size: 18px;
        height: 80px;
    }
    .email {
        width: 130px;
        height: 50px;
    }
    .call {
        width: 130px;
        height: 50px;
    }
    .img1 {
        width: 120px;
    }
    .img2 {
        width: 100px;
    }
    .row1 {
        justify-content: center;
        display: flex;
        gap: 5px;
    }
    .row2 {
        display: flex;
        gap: 5px;
        justify-content: center;
    }
    .contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main {
        height: 700px;
    }
    .partners {
        height: 900px;
    }
    .partners-sub {
        width: 90%;
        text-align: center;
    }
    .partners-logos {
        display: flex;
        flex-direction: row;
        height: 700px;
        gap: 60px;
    }
    .row-1 {
        display: flex;
        flex-direction: column;
        row-gap: 150px;
    
    }
    .row-2 {
        display: flex;
        flex-direction: column;
        row-gap: 120px;
    }
    .participants {
        height: 2100px; 
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
}
